@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Geologica:slnt,wght,CRSV,SHRP@-12..0,100..900,0..1,0..100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-linear-gradient: linear-gradient(90deg, #c26af5, #54f0ff);
  --secondary-linear-gradient: linear-gradient(122deg, #fa4168, #f7cfba);
  --white: #fff;
  --black: #000;
  --black-light-1: #333;
  --red: #ff5050;
  --black-light-2: #666;
  --black-light-3: #999;
  --black-light-4: #eaeaea;
  --Geologica: "Geologica", sans-serif;
  --button-shadow: #c26af5ad;
}

.primary-linear-gradient {
  background: var(--primary-linear-gradient) !important;
}

.secondary-linear-gradient {
  background: var(--secondary-linear-gradient) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-black-light-1 {
  background-color: var(--black-light-1) !important;
}

.bg-black-light-2 {
  background-color: var(--black-light-2) !important;
}

.bg-black-light-3 {
  background-color: var(--black-light-3) !important;
}

.bg-black-light-4 {
  background-color: var(--black-light-4) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.text-black-light-1 {
  color: var(--black-light-1) !important;
}

.text-black-light-2 {
  color: var(--black-light-2) !important;
}

.text-black-light-3 {
  color: var(--black-light-3) !important;
}

.text-black-light-4 {
  color: var(--black-light-4) !important;
}

.text-red {
  color: var(--red) !important;
}

.border-white {
  border: 1px solid var(--white) !important;
}

.border-black {
  border: 1px solid var(--black) !important;
}

.border-black-light-1 {
  border: 1px solid var(--black-light-1) !important;
}

.border-black-light-2 {
  border: 1px solid var(--black-light-2) !important;
}

.border-black-light-3 {
  border: 1px solid var(--black-light-3) !important;
}

.border-black-light-4 {
  border: 1px solid var(--black-light-4) !important;
}

.border-red {
  border: 1px solid var(--red) !important;
}

.border-white {
  border: 1px solid var(--white) !important;
}

.font-geologica {
  font-family: var(--Geologica) !important;
}

body {
  font-family: var(--Geologica) !important;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul > li {
  list-style: none;
}

button {
  border: none;
}

.rounded-pill-start {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.rounded-pill-end {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.bi::before {
  font-weight: 600 !important;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.btn-gradient {
  font-family: var(--Geologica);
  font-weight: 500;
  background: var(--primary-linear-gradient);
  color: var(--white);
  transition: all 0.3s ease 0s;
}

.btn-gradient:hover {
  box-shadow: 0px 2px 20px 2px var(--button-shadow);
}

/********************* HEADER *********************/

.main-header {
  height: 70px;
}

.header-serach-bar input::placeholder {
  color: var(--black-light-2);
}

.serach-bar-btn {
  width: 40px;
  height: 40px;
}

/********************* NAVBAR *********************/

.nav-links-left li:not(:last-child)::after {
  content: "";
  height: 100%;
  display: inline-block;
  position: absolute;
  border: 1px solid var(--black-light-4);
}

.nav-left-items {
  padding: 20px 15px;
  transition: 0.5s ease;
}

.nav-left-items:hover {
  color: var(--black-light-1) !important;
}

.nav-right {
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-left: 70px;
}

.nav-links-right li:not(:last-child)::after {
  content: "";
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--black-light-4);
  opacity: 0.4;
}

.nav-right-items {
  padding: 20px 15px;
  transition: 0.5s ease;
}

.nav-right-items:hover {
  color: var(--black-light-1) !important;
}

/********************* PRODUCT *********************/

.product-card {
  transition: all 0.35s ease 0s;
}

.product-card:hover {
  border: 0 !important;
  border-color: var(--black-light-4) !important;
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
}

.product-btn-group {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-80%);
  transition: all 0.35s ease 0s;
}

.product-card:hover .product-btn-group {
  transform: translateY(-50%);
  opacity: 1 !important;
}

.product-btn-group button {
  transition: all 0.3s ease 0s;
}

.product-btn-group button:hover {
  opacity: 1 !important;
}

.product-discount {
  width: 50px;
  height: 50px;
  transform: translate(-20%, 20%);
}

.product-title:hover {
  color: var(--red) !important;
}

/********************* CART *********************/

.cart-head {
  padding: 12px 38px;
}

.cart-product-del-btn:hover {
  color: var(--red);
}

.cart-product-detail:hover {
  color: var(--red) !important;
}

/********************* PRODUCT DETAIL *********************/

.product-detail-img-list {
  width: 20%;
}

.product-detail-img-active {
  width: 75%;
}

.product-detail-img-active-images {
  transition: all 0.3s ease 0s;
}

.product-detail-img-active:hover .product-detail-img-active-images {
  transform: scale(1.05);
}

.product-detail-tilte:hover {
  color: var(--red) !important;
}

.product-datail-heart-btn {
  transition: all 0.3s ease 0s;
}

.product-datail-heart-btn:hover {
  opacity: 1 !important;
}
