@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Geologica:slnt,wght,CRSV,SHRP@-12..0,100..900,0..1,0..100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

button {
  border: none;
}

:root {
  --primary-linear-gradient: linear-gradient(90deg, #c26af5, #54f0ff);
  --secondary-linear-gradient: linear-gradient(122deg, #fa4168, #f7cfba);
  --white-color: #fff;
  --dark-black-color: #000;
  --black-color: #333;
  --red-color: #ff5050;
  --black-light-color: #666;
  --black-light-color-1: #999;
  --border-black-light-color: #eaeaea;
  --font-Geologica: "Geologica", sans-serif;
  --button-shadow-color: #c26af5ad;
}

/********************* HEADER *********************/

.main-header {
  height: 70px;
}

.header-serach-bar input {
  font-family: var(--font-Geologica);
  border: 2px solid var(--border-black-light-color);
  border-right: 0;
  border-radius: 30px 0px 0px 30px;
}

.header-serach-bar input::placeholder {
  color: var(--black-light-color);
}

.serach-bar-dropdown {
  font-family: var(--font-Geologica);
  border: 2px solid var(--border-black-light-color);
  border-radius: 0px 30px 30px 0px;
  padding: 5px;
}

.serach-bar-dropdown a {
  color: var(--black-light-color);
  cursor: pointer;
}

.serach-bar-dropdown a span {
  color: var(--black-color);
}

.serach-bar-btn {
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
}

/********************* NAVBAR *********************/

nav {
  font-family: var(--font-Geologica);
  font-weight: 500;
  font-size: 16px;
  border-top: 1px solid var(--border-black-light-color);
  border-bottom: 1px solid var(--border-black-light-color);
}

.nav-links-left li {
  position: relative;
}

.nav-links-left li:not(:last-child)::after {
  content: "";
  height: 100%;
  display: inline-block;
  position: absolute;
  border: 1px solid var(--border-black-light-color);
}

.nav-left-items {
  display: inline-block;
  color: var(--black-light-color);
  padding: 20px 15px;
  transition: 0.5s ease;
}

.nav-left-items:hover {
  color: var(--black-color);
}

.nav-right {
  background: var(--primary-linear-gradient);
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-left: 70px;
}

.nav-links-right li {
  position: relative;
}

.nav-links-right li:not(:last-child)::after {
  content: "";
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--border-black-light-color);
  opacity: 0.4;
}

.nav-right-items {
  display: inline-block;
  color: var(--white-color);
  padding: 20px 15px;
  transition: 0.5s ease;
}

.nav-right-items:hover {
  color: var(--black-color);
}

/********************* PRODUCT *********************/

.main-filter,
.main-product {
  border: 2px solid var(--border-black-light-color);
}

.filter-head,
.product-head {
  font-size: 18px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  border-bottom: 1px solid var(--border-black-light-color);
}

.filter-title {
  font-family: var(--font-Geologica);
  font-weight: 500;
}

.filter-body {
  border-bottom: 1px solid var(--border-black-light-color);
}

.product-body {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid var(--border-black-light-color);
  border-radius: 10px;
  transition: all 0.35s ease 0s;
}

.product-card:hover {
  border: 0;
  border-color: var(--border-black-light-color);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
}

.product-btn-group {
  background-color: var(--white-color);
  border-top: 1px solid var(--border-black-light-color);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-80%);
  opacity: 0;
  transition: all 0.35s ease 0s;
}

.product-btn-group button {
  font-size: 22px;
  background-color: transparent;
  color: var(--black-color);
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}

.product-btn-group button:hover {
  opacity: 1;
}

.product-card:hover .product-btn-group {
  transform: translateY(-50%);
  opacity: 1;
}

.product-discount {
  width: 50px;
  height: 50px;
  font-size: 12px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-20%, 20%);
}

.product-img {
  cursor: pointer;
}

.product-category {
  font-size: 14px;
  font-family: var(--font-Geologica);
  color: var(--black-light-color-1);
  text-transform: capitalize;
}

.product-title {
  font-family: var(--font-Geologica);
  font-weight: 500;
  color: var(--dark-black-color);
  text-transform: capitalize;
  cursor: pointer;
}

.product-title:hover {
  color: var(--red-color);
}

.product-price {
  font-size: 18px;
  font-family: var(--font-Geologica);
  color: var(--red-color);
}

.product-cut-price {
  font-size: 14px;
  font-family: var(--font-Geologica);
  color: var(--black-light-color);
  text-decoration: line-through;
}

/********************* CART *********************/

.main-cart-product {
  border: 2px solid var(--border-black-light-color);
  border-radius: 10px;
}

.cart-head {
  display: inline-block;
  font-size: 18px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  background-color: var(--white-color);
  border-radius: 999px;
  border: 2px solid var(--black-color);
  padding: 12px 38px;
}

.cart-product-card {
  border-bottom: 1px solid var(--border-black-light-color);
}

.cart-product-del-btn {
  cursor: pointer;
}

.bi::before {
  font-weight: 600 !important;
}

.cart-product-del-btn:hover {
  color: var(--red-color);
}

.cart-product-img {
  border: 1px solid var(--border-black-light-color);
  border-radius: 7px;
}

.cart-product-detail {
  font-family: var(--font-Geologica);
  font-weight: 500;
  color: var(--dark-black-color);
  cursor: pointer;
}

.cart-product-detail:hover {
  color: var(--red-color);
}

.quantity-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cart-product-quantity {
  font-size: 18px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  color: var(--black-color);
}

.empty-cart-msg {
  font-size: 50px;
  font-family: var(--font-Geologica);
  font-weight: lighter;
  line-height: 62px;
  color: var(--black-light-color);
}

.cart-product-stock {
  font-size: 14px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  color: var(--black-color);
  border: 2px solid var(--border-black-light-color);
  border-radius: 24px;
}

.cart-product-unavailable {
  color: var(--red-color);
}

.btn-gradient {
  font-family: var(--font-Geologica);
  font-weight: 500;
  background: var(--primary-linear-gradient);
  color: var(--white-color);
  transition: all 0.3s ease 0s;
}

.btn-gradient:hover {
  box-shadow: 0px 2px 20px 2px var(--button-shadow-color);
}

/********************* PRODUCT DETAIL *********************/

.product-detail-img-list {
  width: 20%;
}

.product-detail-img-list-images {
  border: 1px solid var(--border-black-light-color);
  border-radius: 10px;
}

.product-detail-img-active {
  width: 75%;
  border: 1px solid var(--border-black-light-color);
  border-radius: 10px;
  cursor: pointer;
}

.product-detail-img-active-images {
  width: 100%;
  transition: all 0.3s ease 0s;
}

.product-detail-img-active:hover .product-detail-img-active-images {
  transform: scale(1.05);
}

.product-detail-category {
  font-size: 14px;
  font-family: var(--font-Geologica);
  color: var(--black-light-color-1);
  text-transform: capitalize;
}

.product-detail-tilte {
  font-size: 22px;
  font-family: var(--font-Geologica);
  color: var(--dark-black-color);
  text-transform: capitalize;
}

.product-detail-tilte:hover {
  color: var(--red-color);
}

.product-detail-price {
  font-size: 22px;
  font-family: var(--font-Geologica);
  font-weight: 500;
  color: var(--black-light-color);
}

.product-detail-cut-price {
  font-size: 16px;
  color: var(--red-color);
  text-decoration: line-through;
}

.product-detail-availability {
  font-size: 14px;
  font-family: var(--font-Geologica);
  color: var(--black-light-color-1);
  text-transform: capitalize;
}

.product-detail-brand {
  font-family: var(--font-Geologica);
  color: var(--black-color);
}

.product-detail-sku {
  font-family: var(--font-Geologica);
  color: var(--black-color);
}

.product-detail-description {
  font-size: 14px;
  font-family: var(--font-Geologica);
  color: var(--black-light-color);
}

.product-datail-heart-btn {
  font-size: 22px;
  background-color: transparent;
  color: var(--black-color);
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}

.product-datail-heart-btn:hover {
  opacity: 1;
}
